:root {
  /* Color */
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primary-white-color: #ffffff;
  --bg-darkgrey-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --header-border: #ececec;
  --card-border: #eeeeee;
  --indent: 30px;
  --filter-indent: 8px;
  --main-font-family: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --items: 3;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

/* Base styles */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
  /* outline-offset: -2px; */
}
.border {
  border-bottom: 1px solid var(--header-border);
}
.header {
  display: flex;
  align-items: center;
}

.header-contacts-nav {
  display: flex;
}
.header .logo {
  color: var(--accent-color);
  margin-right: 93px;
}
.logo {
  /* margin-top: 25px; */
  /* margin-bottom: 25px; */
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--secondary-color);
}

.header-nav {
  margin-right: auto;
}

/* Nav site */
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-list {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header-list {
  display: flex;
  gap: 50px;
}

.header-list :hover,
.header-list :focus {
  color: var(--accent-color);
}

.header-list .current {
  color: var(--accent-color);
}

.header-mail {
  padding: 32px 0;
  margin-right: 50px;
}
.header-phone {
  padding: 32px 0;
}

/* Nav contacts  */
.header-contacts-nav,
.header-mail,
.header-phone {
  color: var(--description-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-contacts-nav :hover,
.header-contacts-nav :focus {
  color: var(--accent-color);
}

/* Section Hero*/

.hero-section {
  padding: 200px 0;
  background-color: var(--bg-darkgrey-color);
  color: var(--primary-white-color);
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: var(--indent);
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  max-width: 250px;
  max-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

/* Features */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.features-list .features-item {
  width: 270px;
}
.features-item-title {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.features-descr {
  color: var(--description-color);
  font-size: 14px;
  line-height: 1.71;
}

/* About */

.about.section {
  padding-top: 0;
}
.about-title {
  color: var(--secondary-color);
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

/* Team */
.team {
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.team-title {
  color: var(--secondary-color);
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-item {
  background-color: var(--primary-white-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-uppertitle {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-item-title {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-card-descr {
  padding: 30px 10px;
}

/* Footer */
.footer:not(.logo) {
  background-color: var(--bg-darkgrey-color);
  color: var(--primary-white-color);
  padding: 60px 0;
}

.footer-logo {
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
}
.footer-logo-accent {
  color: var(--primary-white-color);
}

.footer-list {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.adress-link {
  padding-bottom: 60px;
}

/* Portfolio   */
.filter.list {
  display: flex;
  justify-content: center;
  gap: var(--filter-indent);
  margin-bottom: 50px;
}

.btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  border: none;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.btn.current {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
.project.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.project-cards.item {
  --items: 3;
}

.item {
  flex-basis: calc((100% - var (--indent) * (var(--items) -1)) / var(--items));
}
.project-text {
  color: var(--secondary-color);
}

.project-title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}
.project-text {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.87;
}

.card-descr {
  padding: 20px 24px;
  padding-top: 0;
  border: 1px solid var(--card-border);
  border-top: 0px;
}
